@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    top: 64.4px;
    left: 0;
    height: calc(100vh - 64.4px);
    width: 75vw;
    background: rgba(8, 8, 27, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: var(--box-shadow);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .header_section .nav-item .nav-link {
    border-bottom: 1px solid var(--marker-color);
    line-height: 2.5;
    padding-left: 70px;
  }

  .header_section .navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .header_section .navbar-toggler span {
    display: inline-block;
    width: 25px;
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--marker-color);
    margin: 4px;
    transition: all 0.3s ease;
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(2) {
    opacity: 0;
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .hero_section .hero_title_text {
    margin-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .header_section .nav-item .nav-link {
    padding-left: 20px;
  }

  .hero_section .hero_img_container .hero_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
