@media (max-width: 1024px) {
  .about_hero_section .row {
    gap: 50px;
  }

  .about_hero_section .row .col-lg-6 {
    width: 100%;
  }

  .contact_section .row {
    gap: 50px;
  }

  .contact_section .row .col-lg-6 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    top: 66.8px;
    left: 0;
    height: calc(100vh - 66.8px);
    width: 75vw;
    background: rgba(8, 8, 27, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: var(--box-shadow);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .header_section .nav-item .nav-link {
    border-bottom: 1px solid var(--marker-color);
    line-height: 2.5;
    padding-left: 70px;
  }

  .header_section .navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .header_section .navbar-toggler span {
    display: inline-block;
    width: 25px;
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--marker-color);
    margin: 4px;
    transition: all 0.3s ease;
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(2) {
    opacity: 0;
  }

  .header_section .navbar-toggler:not(.collapsed) span:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .hero_section .hero_title_text {
    margin-top: 50px;
  }

  .faq_content_container .row .col-lg-6:last-child .faq_collapse:first-child {
    padding-top: 30px;
  }

  .footer_section .row .col-md-6:nth-of-type(1) {
    order: 0;
  }

  .footer_section .row .col-md-6:nth-of-type(4) {
    order: 1;
  }

  .footer_section .row .col-md-6:nth-of-type(2) {
    order: 2;
  }

  .footer_section .row .col-md-6 .social_media_container {
    padding-top: 10px;
    padding-left: 20px;
  }

  .courses_section .courses_content_container .row .col-md-6:last-of-type {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header_section .nav-item .nav-link {
    padding-left: 20px;
  }

  .hero_section .hero_img_container .hero_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .footer_section .row .col-md-6:nth-of-type(1) {
    order: 0;
  }

  .footer_section .row .col-md-6:nth-of-type(2) {
    order: 1;
  }

  .footer_section .row .col-md-6:nth-of-type(3) {
    order: 1;
  }

  .footer_section .row .col-md-6:nth-of-type(4) {
    order: 1;
  }

  .footer_section .row .col-md-6 .footer_list_container {
    padding-top: 20px;
    padding-left: 20px;
  }

  .footer_section .row .col-md-6 .social_media_container {
    padding-top: 20px;
    padding-left: 0;
  }

  .about_hero_section .content_container p:first-of-type {
    display: none;
  }

  .courses_section .courses_content_container .row .col-md-6:last-of-type {
    display: flex;
  }
}

@media (max-width: 375px) {
  .about_hero_section .img_container {
    margin-top: 30px;
  }

  .about_hero_section .content_container p + p {
    display: none;
  }

  .contact_section .img_container {
    margin-top: 30px;
  }
}
