@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0c0e2b;
  --dark-primary-color: #08081b;
  --secondary-color: #5f2ded;
  --marker-color: #f2277e;
  --light-color: #fff;
  --light-color-2: #bbb;
  --font-family: "Poppins", sans-serif;
  --transition: all 0.5s linear;
  --box-shadow: 0px 15px 25px rgba(242, 39, 127, 0.1);
  --box-shadow-2: 0px 15px 25px rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary-color);
}

/* ====================================== common ====================================== */
main {
  transition: filter 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.blur-navbar {
  background-color: rgba(8, 8, 27, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.5s ease-in-out;
  box-shadow: var(--box-shadow);
}

.blur-navbar-2 {
  background-color: var(--dark-primary-color);
  transition: background-color 0.5s ease-in-out;
  box-shadow: var(--box-shadow);
}

.blur-main {
  filter: blur(15px);
}

.common-btn {
  background: var(--marker-color);
  color: var(--light-color);
  outline: none;
  border: 1px solid var(--marker-color);
  will-change: transform;
  transition: all 0.3s ease;
}

.padding_section {
  padding: 80px 0;
  border-top: 1px solid var(--dark-primary-color);
}

.sub-head {
  color: var(--marker-color);
  font-size: clamp(0.88em, 1.17vw, 1.25em);
}

.main_head {
  color: var(--light-color);
  font-size: clamp(1.56em, 3vw, 3em);
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-4 {
  -webkit-line-clamp: 4;
}

.line-8 {
  -webkit-line-clamp: 8;
}

.swiper_container {
  min-height: calc(100% + 16px);
  border-radius: 10px;
  overflow: hidden;
  /* background-color: aqua; */
}

.swiper {
  overflow: visible;
}

/* ====================================== custom scrollbar ====================================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--marker-color);
}
/* ====================================== navbar ====================================== */
.header_section .navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header_section .navbar .logo {
  color: var(--light-color);
  font-size: clamp(1.5rem, 1.6rem, 2rem);
  font-weight: 700;
}

.header_section .navbar .logo .logo-mark {
  color: var(--marker-color);
}

.header_section .nav-item .nav-link {
  font-weight: 400;
  font-size: 14px;
  transition: var(--transition);
  color: var(--light-color);
  padding: 8px 20px;
  border-radius: var(--border-radius);
}

.header_section .nav-item:hover .nav-link,
.header_section .nav-item .nav-link.active {
  background-color: var(--marker-color);
}

/* ====================================== hero section ====================================== */
.hero_section .hero_title_text {
  color: var(--light-color);
  font-size: clamp(1.3em, 3vw, 3em);
  margin: 0 0 20px;
}

.hero_section .hero_desc_text {
  color: var(--light-color-2);
  font-size: 14px;
  margin: 0 0 20px;
}

.hero_section .knowmore-btn {
  padding: 10px 40px;
}

.hero_section .knowmore-btn:hover,
.hero_section .knowmore-btn:active {
  background: transparent;
  color: var(--light-color);
  border: 1px solid var(--marker-color);
}

.hero_section .knowmore-btn:active {
  transform: scaleX(1.05);
  background: transparent;
  color: var(--light-color);
  border: 1px solid var(--marker-color);
}

.hero_section .hero_img_container .hero_img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

/* ====================================== categories section ====================================== */
.categories_section .categories_content_container .img_container {
  width: 100px;
  height: 100px;
}

.categories_section .categories_content_container .card {
  background-color: var(--dark-primary-color);
  box-shadow: var(--box-shadow-2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.categories_section .categories_content_container .card:hover {
  background: var(--secondary-color);
}

.categories_section .categories_content_container .card-body .card-text {
  color: var(--light-color-2);
  font-size: 12px;
}

/* ====================================== popular courses section ====================================== */
.popular_courses_section .section_header_container {
  text-align: center;
}

.popular_courses_section .popular_courses_content_container {
  position: relative;
}

.popular_courses_section .popular_courses_content_container .swiper_container {
  min-height: 530px;
}

.popular_courses_section .popular_courses_content_container .swiper {
  position: unset;
  width: 100%;
  height: 100%;
}

.popular_courses_content_container .swiper .swiper-slide {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular_courses_content_container .swiper-slide .card {
  background-color: var(--dark-primary-color);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 514px;
  box-shadow: var(--box-shadow-2);
}

.popular_courses_content_container .swiper-slide .card .img_container {
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.popular_courses_content_container .swiper-slide .card .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: var(--transition);
}

.popular_courses_content_container .swiper-slide .card:hover img {
  scale: 1.1;
  rotate: 5deg;
}

.popular_courses_content_container .swiper-slide .card:active {
  cursor: grab;
}

.popular_courses_content_container .card .card-body {
  text-align: left;
  padding: 10px 3px;
  color: var(--light-color);
}

.popular_courses_content_container .card-body .timing_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
}

.popular_courses_content_container .card-body .card-title {
  font-size: 18px;
}

.popular_courses_content_container .card-body .card-text {
  font-size: 12px;
  color: var(--light-color-2);
  margin: 10px 0 !important;
  width: 100%;
  min-height: 72px;
}

.popular_courses_content_container .card-body .card_footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular_courses_content_container .card_footer_container .enroll_btn {
  padding: 10px 20px;
}

.popular_courses_content_container .card_footer_container .enroll_btn:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.popular_courses_content_container .card_footer_container .enroll_btn:active {
  border: 1px solid var(--secondary-color);
  transform: scale(0.98);
}

.popular_courses_content_container .card_footer_container .price {
  font-weight: 500;
}

.popular_courses_content_container .swiper .swiper-pagination {
  left: 0;
  bottom: -34px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--light-color);
}

/* ====================================== faq section ====================================== */
.faq_section .faq_wrapper .faq_collapse + .faq_collapse {
  padding-top: 30px;
}

.faq_content_container .faq_collapse .faq_header {
  width: 100%;
  padding: 10px;
  background: var(--secondary-color);
  color: var(--light-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq_content_container .faq_collapse .faq_header .faq_icon {
  font-size: 14px;
}

.faq_content_container .faq_collapse .faq_content {
  background: var(--secondary-color);
  color: var(--light-color);
  padding: 10px;
  border-top: 1px solid var(--light-color-2);
  display: none;
  transition: var(--transition);
}

/* ====================================== testimonials section ====================================== */
.testimonials_section .section_header_container {
  text-align: center;
}

.testimonials_section .testimonials_content .swiper {
  width: 100%;
  height: 100%;
}

.testimonials_content .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  background-color: var(--dark-primary-color);
  box-shadow: var(--box-shadow-2);
}

.testimonials_content .swiper-slide .review_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.testimonials_content .review_container .review {
  color: var(--light-color-2);
  font-size: 16px;
  font-weight: normal;
}

.testimonials_content .review_container .reviewer {
  color: var(--marker-color);
}

.testimonials_content .review_container .img_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--light-color);
}

.testimonials_content .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
